{% extends 'base.html.twig'%}
{% block content %}

<div class="row">
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="btn-group" role="group">
            <a class="btn btn-primary" href="{{ path('task_create') }}" ><i class="fa fa-plus"></i> New Task</a>
        </div>
    </div>
</div>
    <div class="col-md-4 col-md-offset-4">
        <table class="table table-bordered">
            <tr>
                <td>Task</td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

</div>
{% endblock content %}
